.material-icons{
    cursor: pointer;
}

body{
    background-image: url(/images/26302.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Fresca', sans-serif;
    background-repeat: no-repeat;
    font-size: 1.25rem;
}

h1 {
    text-align: center;
    padding: 4%;
    background-color: #5ab4e1;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;
    width: 98%;
}

h4 {
    text-align: center;
}

#title {
    background-color:transparent;
    font-size: 3rem;
}

.card {
    margin-top: 3%;
    margin-bottom: 3%;
}


.display-4{
    font-weight:500;
}