.material-icons{
    cursor: pointer;
}

body{
    background-image: url(/images/26302.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Fresca', sans-serif;
    background-repeat: no-repeat;
    font-size: 1.25rem;
}


.display-4{
    font-weight:500;
}