.week {
    margin: auto;
    width: 80%;
    height: 200px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 25% 75%;
    grid-template-areas: "title title title title title title title"
    "col1 col2 col3 col4 col5 col6 col7" ;
    grid-gap: 3px;
}

#breakfastButtons {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#ate {
    flex: 40%;
    height: 40px;
}

#noeat {
    height: 40px;
    flex: 30%;
    font-size: small;
}

#weektitle {
    grid-area: title;
    background-color: lightgray;
    text-align: center;
    width: 100%; 
    padding: 3px;
}

#col1 {
    grid-area: col1;
    background-color: lightgray;
}

#col2 {
    grid-area: col2;
    background-color: lightgray;
}

#col3 {
    grid-area: col3;
    background-color: lightgray;
}

#col4 {
    grid-area: col4;
    background-color: lightgray;
}

#col5 {
    grid-area: col5;
    background-color: lightgray;
}

#col6 {
    grid-area: col6;
    background-color: lightgray;
}

#col7 {
    grid-area: col7;
    background-color: lightgray;
}